<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Site Title-->
  <title>Company Based Analysis</title>
  <!-- Favicon-->

  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/preset.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">


  <link rel="stylesheet" id="triggerColor" href="assets/css/colors/solid/color.css">
  <link rel="stylesheet" id="grad_triggerColor" href="assets/css/colors/gradient/color.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <!--<script src="angularjs/companyController.js"></script> -->
  <style>
.selected {
    background-color:black;
    color:white;
    font-weight:bold;
}
</style>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="getCompany()">

  <!-- Color Preset -->
  <div class="rishad_switcher_zone">
    <div class="switZone_title">
      <p class="pull-left">Select a Color</p>
      <a href="#" class="settingBtn pull-right"><i class="fa fa-cog" aria-hidden="true"></i></a>
      <div class="clearfix"></div>
    </div>
    <div class="rishad_switcher_inner">
      <div class="rishad_switcher_single">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a href="#gradient" class="nav-link active" data-toggle="tab">Gradient</a>
          </li>
          <li class="nav-item">
            <a href="#solid" class="stopped-color nav-link" data-toggle="tab">Solid</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="gradient">
            <div class="rishad_switch grad_color" id="grad_actionColors">
              <a href="color" class="color-default active"></a>
              <a href="color-1" class="color1"></a>
              <a href="color-2" class="color2"></a>
              <a href="color-3" class="color3"></a>
              <a href="color-4" class="color4"></a>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="tab-pane" id="solid">
            <div class="rishad_switch" id="actionColors">
              <a href="color" class="color-default active"></a>
              <a href="color-1" class="color1"></a>
              <a href="color-2" class="color2"></a>
              <a href="color-3" class="color3"></a>
              <a href="color-4" class="color4"></a>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--/Color Preset -->

  <!--navbar-->
  <nav class="navbar navbar-toggleable-md fixed-top navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="/"><img class="img-fluid" src="assets/images/stocklogo.png" alt="Logo"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-center mx-auto">
                <!-- Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="/userhome">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sectoranalysis">
                  Analyze By Sector</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/yearanalysis">Analyze By year</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/companyanalysis">Analyze By Company</a>
                </li>
              </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><%= firstName %> <%= lastName %></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
    <!--/.navbar-->
 <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="white-space" style="padding: 35px 0"></div>
        </div>
        <div class="col-sm-12">
          <div class="white-space" style="padding: 35px 0"></div>
        </div>
        <div class="col-sm-12">
          <div class="white-space" style="padding: 35px 0"></div>
        </div>
        <div class="col-md-6">
        <input type="text" ng-model="company" placeholder="Search">&nbsp;
        <label class="displayBlock margin">Select Year</label>

        <select ng-model="selectedYear" required>
          <option disabled selected value>-- Select an option --</option>
          <option>2008</option>
          <option>2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
        </select>&nbsp;
        <br /> <br />
          <span class="button">
            <ul class="list-inline">
              <li class="list-inline-item"><a class="btn btn-primary add-contract-button pull-right" ng-click="showCompanyStats()">Go</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="list-inline-item"><a class="btn btn-primary add-contract-button pull-right" ng-click="showTechnicalAnalysis()">Technical Analysis</a></li>
            </ul>
            <br />
          </span>
        <br />

        
        <table class="table table-striped">
        <tr>
          <th>
          </th>
          <th>Abbrevation
          </th>
          <th>Company Name
          </th>
          <th>Sector
          </th>
        </tr>
        <!--tr ng-repeat="x in companies| filter: company" ng-class="{'selected':$index == selectedRow}"
        ng-click="setSelected($index,x.name)"-->
        <tr dir-paginate="x in companies| orderBy:sortKey:reverse| filter: company| itemsPerPage:30" ng-class="{'selected':$index == selectedRow}"
        ng-click="setSelected($index,x.name,x.abbrevation)">


            <td>{{$index+1}}</td>
          <td>
            {{x.abbrevation}}
          </td>
          <td>
            {{x.name}}
          </td>
          <td>
            {{x.sector}}
          </td>
        </tr>
        </table>
        <dir-pagination-controls
       max-size="10"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>
      </div>

      <div class="col-md-6">
        <img id="spinner" ng-src="images/busy.gif" height="50" width="50" ng-show="loading" />
<!--
         <label class="displayBlock margin">Select Year</label>

        <select class="form-control" ng-model="selectedYear" required>
          <option disabled selected value>-- Select an option --</option>
          <option>2008</option>
          <option>2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
        </select>
        <br /><br /><br />
-->

        <script type="text/javascript"
          src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>


          <!--body onload="initViz();"-->
          <div class="container" >
              <div class="row" >
          <div id="vizContainer" style="width:800px; height:700px;"></div>
          </div>
      </div>


    </div>
  </div>
</div>
<br />






<footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h5>Get in Touch</h5>
                            <div class="widget_content">
                                <ul>
                                    <li><i class="fa fa-lg fa-map-marker"></i>San Jose State University</li>
                                    <li><i class="fa fa-lg fa-mobile"></i>+123 4567 890</li>
                                    <li><i class="fa fa-lg fa-envelope-o"></i>stockmarketanalysisteam@example.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><a href="#">Services</a></li>
                            <li class="list-inline-item"><a href="#">Team</a></li>
                            <li class="list-inline-item"><a href="#">Blog</a></li>
                            <li class="list-inline-item"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <p class="pull-right">All Right Reserved by <a href="stockmarketanalysis.com">Stock Market Analysis</a> © 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/countdown.js"></script>
<script src="assets/js/jquery-waypoints.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/smooth-scroll.min.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/jtline.min.js"></script>
<script src="assets/js/currency.js"></script>
<script src="assets/js/dirPagination.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/analyze.js"></script>
<!-- <script src="assets/js/google-map.js"></script> -->
<script src="assets/js/roadmap.js"></script>
<script src="assets/js/main.js"></script>

<script>
var app = angular.module('myApp', ['angularUtils.directives.dirPagination']);
app.controller('myCtrl', function($scope,$http) {
  var flag = true;
  console.log("I am in company controller");
    $scope.getCompany=function() {
        console.log("I am in get company controller");
      $http.get("/company")
      .then(function(response) {
        console.log("C:"+response);
        $scope.companies = response.data.companies;
        console.log($scope.companies[0].name);
    });
}

$scope.selectedCompany = null;
$scope.selectedAbbrevation=null;
 $scope.selectedRow = null;
$scope.setSelected = function (index,abbrevation,abb) {
  $scope.selectedRow = index;
   $scope.selectedCompany = abbrevation;
   //$scope.company = abbrevation;
   $scope.selectedAbbrevation=abb;

   console.log("A:"+$scope.selectedCompany);
};


$scope.showCompanyStats=function(){
  console.log('inside company stats');
  $scope.fav1=false;
  var year = $scope.selectedYear.replace(/\s/g, '');
  console.log($scope.selectedCompany);
  console.log($scope.selectedYear);

          var containerDiv = document.getElementById("vizContainer"),
              url = "https://public.tableau.com/views/NYSEMarketAnalysisCompanyPerYearBased/BasicIndustriesDashboard?:embed=y&:display_count=yes&publish=yes",
              options = {
                  "Company": $scope.selectedCompany,
                  "Year": $scope.selectedYear,
                  hideTabs: true,
                  onFirstInteractive: function () {
                    flag=false;
                      console.log("Run this code when the viz has finished loading.");

                  }
              };
              if(flag===false){
                  viz.dispose();
              }
          viz = new tableau.Viz(containerDiv, url, options);

};



$scope.showTechnicalAnalysis=function(){
  console.log('inside showTechnicalAnalysis stats');
  console.log($scope.selectedAbbrevation);
        $scope.jsondata = {
          "Company": $scope.selectedAbbrevation
         }
         $scope.loading = true;
         $http.post('/technicalanalysis',$scope.jsondata).then(function(data,status){
          $scope.loading = false;
          window.location.assign('/prediction')
          console.log('company sent');
       });
     };
});
</script>
</body>

</html>

</body>
