<!DOCTYPE html>
<html lang="en" data-ng-app="myAnalyze" data-ng-controller="analyzeController">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Site Title-->
  <title>Technical Analysis</title>
  <!-- Favicon-->

  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/preset.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">


  <link rel="stylesheet" id="triggerColor" href="assets/css/colors/solid/color.css">
  <link rel="stylesheet" id="grad_triggerColor" href="assets/css/colors/gradient/color.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="100">

  <!-- Color Preset -->
  <div class="rishad_switcher_zone">
    <div class="switZone_title">
      <p class="pull-left">Select a Color</p>
      <a href="#" class="settingBtn pull-right"><i class="fa fa-cog" aria-hidden="true"></i></a>
      <div class="clearfix"></div>
    </div>
    <div class="rishad_switcher_inner">
      <div class="rishad_switcher_single">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a href="#gradient" class="nav-link active" data-toggle="tab">Gradient</a>
          </li>
          <li class="nav-item">
            <a href="#solid" class="stopped-color nav-link" data-toggle="tab">Solid</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="gradient">
            <div class="rishad_switch grad_color" id="grad_actionColors">
              <a href="color" class="color-default active"></a>
              <a href="color-1" class="color1"></a>
              <a href="color-2" class="color2"></a>
              <a href="color-3" class="color3"></a>
              <a href="color-4" class="color4"></a>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="tab-pane" id="solid">
            <div class="rishad_switch" id="actionColors">
              <a href="color" class="color-default active"></a>
              <a href="color-1" class="color1"></a>
              <a href="color-2" class="color2"></a>
              <a href="color-3" class="color3"></a>
              <a href="color-4" class="color4"></a>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--/Color Preset -->

  <!--navbar-->
  <nav class="navbar navbar-toggleable-md fixed-top navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img class="img-fluid" src="assets/images/stocklogo.png" alt="Logo"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-center mx-auto">
        <!-- Dropdown -->
        <li class="nav-item">
          <a class="nav-link" href="/userhome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sectoranalysis">
            Analyze By Sector</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/yearanalysis">Analyze By year</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/companyanalysis">Analyze By Company</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><%= firstName %> <%= lastName %></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/profile">My Profile</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>
    <!--/.navbar-->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="white-space" style="padding: 35px 0"></div>
        </div>
        <div class="col-sm-12">
          <div class="white-space" style="padding: 35px 0"></div>
        </div>
        <div class="col-sm-12">
          <div class="white-space" style="padding: 35px 0"></div>
        </div>
      </div>
    </div>

    <div class="center">
      <div class="container" >
        <div class="row">
          <div class="section-title text-center">
            <div class="risk">
            <h1> Risk Analysis</h1>
          </div>
          </div>
          <div class="info_box_v1">
            <div class="col-md-12">
              <div id='myChart'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="info_box_v1">
          <div class="col-md-5">
            <div class="section-title text-center">
              <div class="closing">
              <h1> Closing Price </h1>
            </div>
              <img src="images/ClosingPrice.png" width="460" height="345">
            </div>
          </div>
        </div>

        <div class="info_box_v1">
          <div class="col-md-7">
            <div class="section-title text-center">
              <h1> Total Volume of Stock Traded</h1>
              <img src="images/Volume.png" width="460" height="345">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="center">
      <div class="container" >
        <div class="row">
          <div class="section-title text-center">
            <h1> Moving Averages </h1>
          </div>
          <div class="info_box_v1">
            <div class="col-md-12">
              <img src="images/Moving-Average.png" width="460" height="345">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">

        <div class="info_box_v1">
          <div class="col-md-6">
            <div class="section-title text-center">
              <h1> Monte Carlo Analysis </h1>
              <img src="images/MonteCarlo.png" width="460" height="345">
            </div>
          </div>
        </div>



        <div class="info_box_v1">
          <div class="col-md-6">
            <div class="section-title text-center">
              <h1> Value at Risk </h1>
              <img src="images/Risk.png" width="460" height="345">
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
    <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>
    <script>
    var risk = <%= risk %>;
    var sPrice = <%= startPrice %>;
    var tempVar = (risk/sPrice) * 100;
    var finalVar;

    if(tempVar >= 35)
    finalVar = 5;
    else if(tempVar >= 30)
    finalVar = 24;
    else if(tempVar >= 20)
    finalVar = 40;
    else if(tempVar >= 15)
    finalVar = 60;
    else
    finalVar = 75;
    var myConfig8 = {
      "type":"gauge",
      "scale-r":{
        "aperture":200,
        "values":"0:80:20",
        "center":{
          "size":10,
          "background-color":"#66CCFF #FFCCFF",
          "border-color":"none"
        },
        "ring":{
          "size":15,
          "rules":[
            {
              "rule":"%v >= 0 && %v <= 20",
              "background-color":"red"
            },
            {
              "rule":"%v >= 20 && %v <= 40",
              "background-color":"orange"
            },
            {
              "rule":"%v >= 40 && %v <= 60",
              "background-color":"yellow"
            },
            {
              "rule":"%v >= 60 && %v <= 80",
              "background-color":"green"
            },
            {
              "rule":"%v >= 80 && %v <=100",
              "background-color":"blue"
            }
          ]
        },
        "labels":["Very High Risk","High Risk","Neutral","Low Risk","Very Low Risk"],  //Scale Labels
        "item":{  //Scale Label Styling
          "font-color":"purple",
          "font-family":"Georgia, serif",
          "font-size":11,
          "font-weight":"bold",   //or "normal"
          "font-style":"normal",   //or "italic"
          "offset-r":0,
          "angle":""
        }
      },
      "plot":{
        "csize":"5%",
        "size":"100%",
        "background-color":"#000000",
        "animation":{ //Animation object
          "effect":2,
          "method":3,
          "sequence":1,
          "speed":3000
        }
      },
      "series":[
        {"values":[finalVar]}
      ]
    };

    zingchart.render({
      id : 'myChart',
      data : myConfig8,
      height : "70%",
      width: "85%"
    });

    </script>
  </div>
  <div class="white-space" style="padding: 10px 0"></div>

</div>
</div>
</div>
<br />

<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h5>Get in Touch</h5>
            <div class="widget_content">
              <ul>
                <li><i class="fa fa-lg fa-map-marker"></i>San Jose State University</li>
                <li><i class="fa fa-lg fa-mobile"></i>+123 4567 890</li>
                <li><i class="fa fa-lg fa-envelope-o"></i>stockmarketanalysisteam@example.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">Team</a></li>
            <li class="list-inline-item"><a href="#">Blog</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <p class="pull-right">All Right Reserved by <a href="stockmarketanalysis.com">Stock Market Analysis</a> © 2017</p>
        </div>
      </div>
    </div>
  </div>
</footer>



<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/countdown.js"></script>
<script src="assets/js/jquery-waypoints.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/smooth-scroll.min.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/jtline.min.js"></script>
<script src="assets/js/currency.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/analyze.js"></script>
<script src="assets/js/roadmap.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>

</body>
