
<!DOCTYPE html>
<html>
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - Stock Market</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/preset.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" id="triggerColor" href="assets/css/colors/solid/color.css">
    <link rel="stylesheet" id="grad_triggerColor" href="assets/css/colors/gradient/color.css">
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="100">

    <!-- Color Preset -->
    <div class="rishad_switcher_zone">
        <div class="switZone_title">
            <p class="pull-left">Select a Color</p>
            <a href="#" class="settingBtn pull-right"><i class="fa fa-cog" aria-hidden="true"></i></a>
            <div class="clearfix"></div>
        </div>
        <div class="rishad_switcher_inner">
            <div class="rishad_switcher_single">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#gradient" class="nav-link active" data-toggle="tab">Gradient</a>
                    </li>
                    <li class="nav-item">
                        <a href="#solid" class="stopped-color nav-link" data-toggle="tab">Solid</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="gradient">
                        <div class="rishad_switch grad_color" id="grad_actionColors">
                            <a href="color" class="color-default active"></a>
                            <a href="color-1" class="color1"></a>
                            <a href="color-2" class="color2"></a>
                            <a href="color-3" class="color3"></a>
                            <a href="color-4" class="color4"></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="solid">
                        <div class="rishad_switch" id="actionColors">
                            <a href="color" class="color-default active"></a>
                            <a href="color-1" class="color1"></a>
                            <a href="color-2" class="color2"></a>
                            <a href="color-3" class="color3"></a>
                            <a href="color-4" class="color4"></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--/Color Preset -->

    <!--navbar-->
    <nav class="navbar navbar-toggleable-md fixed-top navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="/"><img class="img-fluid" src="assets/images/stocklogo.png" alt="Logo"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-center mx-auto">
                <!-- Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="/userhome">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sectoranalysis">
                  Analyze By Sector</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/yearanalysis">Analyze By year</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/companyanalysis">Analyze By Company</a>
                </li>
              </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><%= firstName %> <%= lastName %></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
    <!--/.navbar-->

    <!-- particles.js container -->
    <div id="particles-js" class="particles-js-img">
        <div class="container">
            <div class="particles_content">
                <div class="col-sm-12  text-center">
                    <h2>Stock Market Data Analysis</h2>
                    <p>Get Onboard with us for detailed analysis of stock market data</p>
                </div>
            </div>
        </div>
    </div>
    

    <!--footer-->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h5>Get in Touch</h5>
                            <div class="widget_content">
                                <ul>
                                    <li><i class="fa fa-lg fa-map-marker"></i>San Jose State University</li>
                                    <li><i class="fa fa-lg fa-mobile"></i>+123 4567 890</li>
                                    <li><i class="fa fa-lg fa-envelope-o"></i>stockmarketanalysisteam@example.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h5>Important links</h5>
                            <div class="widget_content">
                                <ul>
                                    <li><a href="#">Abo</a></li>
                                    <li><a href="#">Bitcoin Earning</a></li>
                                    <li><a href="#">Investment</a></li>
                                    <li><a href="#">Referral</a></li>
                                </ul>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><a href="#">Services</a></li>
                            <li class="list-inline-item"><a href="#">Team</a></li>
                            <li class="list-inline-item"><a href="#">Blog</a></li>
                            <li class="list-inline-item"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <p class="pull-right">All Right Reserved by <a href="stockmarketanalysis.com">Stock Market Analysis</a> © 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->


    <!--======= Back to Top =======-->

    <div id="backtotop"><i class="fa fa-2x fa-arrow-up"></i></div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/jquery-waypoints.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/smooth-scroll.min.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/jtline.min.js"></script>
    <script src="assets/js/currency.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- <script src="assets/js/google-map.js"></script> -->
    <script src="assets/js/roadmap.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
